[Unit]
Description= can0
After=sysinit.target wpa_supplicant.service sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-wlan0.device
Requires=sys-subsystem-net-devices-can0.device

[Service]
Type=forking
User=root
ExecStart=sh /usr/bin/can-service.sh

[Install]
WantedBy=multi-user.target
